DB_URL=jdbc:mysql://<host>:3306/<dbname>?useSSL=false&serverTimezone=UTC&characterEncoding=UTF-8&allowPublicKeyRetrieval=true
DB_USERNAME=<username>
DB_PASSWORD=<password>
MAIL_USERNAME=
MAIL_PASSWORD=
